header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.container_head {
  top: 0;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 80px;
}

.logo {
  justify-content: left;
  height: auto;
  width: 50px;
  padding-top: 20px;
  border-radius: 15px 15px 15px 15px;
}

.overlay {
  text-align: center;
  position: relative;
  padding-top: 120px;
  margin-left: 5%;
  font-family: "Orbitron", sans-serif;
  font-size: x-large;
  color: rgba(0, 0, 0, 0.822);
}

nav li {
  display: inline-block;
  margin-right: 17px;
  text-decoration: none;
}

.menu {
  list-style: none;
  display: flex;
  padding: 14px 16px;
  font-size: 17px;
  float: right;
  color: rgb(255, 255, 255);
}

header .menu a {
  display: inline-block;
  text-decoration: none;
  margin-right: 17px;
  list-style: none;
  font-size: 17px;
  font-family: "Rajdhani", sans-serif;
  color: rgb(0, 0, 0);
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background: #f0e4e8;
  background: radial-gradient(
    circle,
    rgb(255, 255, 255) 0%,
    rgb(26, 25, 25) 100%
  );
}

/* players cards */
.players_container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 15px;
}

.player_card {
  height: 400px;
  width: 150px;
  background-size: cover;
  background-position: center;
  text-align: center;
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
}
.player_card_mvp {
  height: 420px;
  width: 170px;
  transform: scale(1.15);
  z-index: 2;
  margin-left: 2px;
  border-radius: 8px;
  border: 2px solid transparent;

  box-shadow:
    0 0 15px rgb(197, 156, 44),
    0 0 35px rgb(197, 156, 44);
}

.player_card_mvp section {
  border-radius: 8px;
  box-shadow:
    0 0 15px rgba(197, 156, 44, 0.8),
    0 0 35px rgba(197, 156, 44, 0.6);
}

.phoenix_card {
  background-image: url("../assets/images/phoenix_card.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

.clove_card {
  background-image: url("../assets/images/clove_card.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

.jett_card {
  background-image: url("../assets/images/jett_card.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

.viper_card {
  background-image: url("../assets/images/viper_card.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

.chamber_card {
  background-image: url("../assets/images/chamber_card.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

/* ranks */
.rank_logo {
  height: auto;
  width: 50px;
}
